@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/mapa.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-maior {
    background-color: #000000f2;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}
    
.input-texto {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: #ffffff1a;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    padding: 10px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: white;
}

option {
  color: black;
  padding: 5px;
  border-radius: 3px;
}

button {
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffffff1a;
}

button:hover {
    cursor: pointer;
    background-color: #d6d6d61a;
    
}

.controle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultado {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-traducao {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao {
    color: white;
    font-size: 18px;
}